.audio-player {
    display: flex;
    align-items: center;
  }
  
  .play-button {
    background-color: #ff770000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .play-button:hover {
    background-color: #e65c00;
  }
  